<div align = "center">
  <h1>Image Index</h1>
  <h3> <%= link_to 'Upload image using url', new_image_path %> </h3>
  <h4> <%= link_to 'Give Feedback', new_feedback_path %> </h4>
  <% if flash[:notice] %>
    <div class="js-notice"><%= flash[:notice] %></div>
  <% end %>

  <h2>List of images</h2>
  <% if @tag %>
    <span> Images for <%= content_tag(:strong, @tag) %> </span>
    <div> <%= link_to 'Back to All', root_path, { class: "js-index-page-link" } %> </div>
  <% end %>
  <% if @images.count == 0%>
    <h4> No image for this tag. </h4>
  <% end %>

  <div class="js-image-list">
    <% @images.each do |image| %>
      <div class="js-single-image">
        <%= link_to(image_tag(image.link, width: '400', title: image.title), image_path(image), { class: 'js-show-page-link' })%>
        <div>
          <strong class="js-image-title" ><%= image.title%></strong>
        </div>
        <%= render 'tags', image: image %>
      </div>
    <% end %>
  </div>
</div>
