<h1>Upload</h1>

<%= simple_form_for @image do |f| %>
  <%= f.input :title %>
  <%= f.input :link %>
  <%= f.button :submit %>
<% end %>

<%= form_with scope: :image, url: images_path, local: true do |form| %>
  <% if @image.errors.any? %>
    <div id="error_explanation" class="js-error-block">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited
        this image from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<%= link_to 'Image Index Page', root_path, { class: 'js-index-page-link' } %>
<%= link_to 'Back to Upload', new_image_path %>

