<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @image.link %>
</p>

<p>
  <strong>Tags:</strong>
  <span class="js-tag-list"><%= @image.tag_list %></span>
</p>

<p>
  <%= image_tag(@image.link) %>
</p>
<%= link_to 'Image Index Page', root_path, { class: 'js-index-page-link' }%>
